@charset "UTF-8";

/* #ffd200 */

@font-face {
    font-family: Akkurat;
    src: url('/desafio_012/fontes/Akkurat.otf') format('opentype');
    font-weight: normal;
}

:root {

    --cor0: #ffffff;
    --cor1: #ffd200;
    --cor3: #272727;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-geral: Akkurat;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
}

header {
    background-color: var(--cor1);
    color: var(--cor3);
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-size: calc(24px + 2.5vw);
}

header > p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding: 10vh 0 10vh 30px;
    line-height: 36px;
}

section > p {
    font-family: var(--fonte-geral);
    font-size: 24px;
}

section.normal {
    background-color: #272727;
    color: white;
}

section.imagem {
    background-color: #ffd200;
    color: white;
}

section.imagem > p {
    display: inline-block;
    padding: 5px;
    background-color: #27272771;
}

footer {
    background-color: #ffd200;
    color: #272727;
    text-align: center;
    padding: 40px 0px 40px 0px;
}